body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000;  
    color: #fff; 
}

header {
    background: #001f3f;  
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

header .logo {
    max-width: 75px;  /* Adjust the size of the logo */
    height: auto;
    margin-bottom: 0%;  /* Add some space below the logo */
}

header h1 {
    margin: 0;
    font-size: 2.5rem; 
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 2rem;
}

header nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    transition: color 0.3s;
    align-items: left;
}

header nav ul li a:hover {
    color: #e66161;  
}

main {
    padding: 1rem 0;
}

section {
    padding: 2rem 0;
    background-color: #001f3f;
    margin-bottom: 1rem;
    text-size-adjust: 20x;
}

section#about, section#contact {
    background-color: #111;  /* Slightly lighter black */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: large;
    padding: 0 2rem;
    
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #f1a923;  /* Highlight color */
    
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;  /* Center the images */
    font-size: 100px;
}

.project {
    margin-bottom: 2rem;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0.5rem 1rem;
    color: #f1f1ef;  /* Highlight color for skills */

    
}
 ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    align-items: left;

}
ul li:hover{
    background-color: #da4a31;
}

       

footer {
    background: #001f3f;  /* Dark blue background */
    color: #fff;
    text-align: center;
    padding: 0.6rem ;
    margin-top: rem;
}

a {
    color: #dbd9d6;  /* Highlight skill color */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    background-color: #e0dfd6;  /* Hover color */
}
form {
    background: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f8f8f8;
    
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 9px;
    margin-bottom: 11px;
    border: 5px solid #000000;
    border-radius: 3px;
}

button {
    padding: 10px 15px;
    background-color: #97a325;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b5cf22;
}